@charset "UTF-8";
/* ==========================================================
Name:
    style.css

Description:
    サイトで共通使用する汎用モジュールのスタイルを記述する
    アルファベット降順(A->Z)に記述する

Contents:
    reset
    plugin
    base
    layout
    component
    utility
========================================================== */
.top-container {
    max-width: 100%;
    background-image: url(/files/user/img/membership/kv-pc.jpg);
}

/* ==========================================================
*
*   reset
*
========================================================== */
/* ==========================================================
Name:
    reset.css

Description:
    ユーザーエージェントスタイルの初期化を行う

Contents:
    base reset style
    form parts reset style
========================================================== */
/* ---------------------------------------------
*   base reset style
--------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, hr {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

caption, th, td {
    vertical-align: middle;
    text-align: left;
    font-weight: normal;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    clear: both;
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

/* ---------------------------------------------
*   form parts reset style
--------------------------------------------- */
input, button, textarea, select {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    border-radius: 0;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-indent: 0.01px;
    text-overflow: '';
    font-family: "IBM Plex Sans", sans-serif;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

textarea {
    display: block;
    overflow: auto;
    resize: none;
}

/* ==========================================================
*
*   base settings
*
========================================================== */
/* ==========================================================
*
*   base settings
*
========================================================== */
/* ---------------------------------------------
*   Universal selector
--------------------------------------------- */
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* ---------------------------------------------
*   html, body
--------------------------------------------- */
html,
body {
    color: #0F1015;
    font-family: "IBM Plex Sans", sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@media screen and (min-width: 1441px) {
    html,
    body {
        font-size: 16px;
    }
}

@media screen and (max-width: 1440px) {
    html,
    body {
        font-size: 1.11111vw;
    }
}

@media screen and (max-width: 750px) {
    html,
    body {
        font-size: 4.26667vw;
    }
}

body {
    line-height: 1.5;
}

@media screen and (max-width: 750px) {
    body {
        min-width: 320px;
        line-height: 1.5;
    }
}

/* ---------------------------------------------
*   <a> tag
--------------------------------------------- */
a {
    outline: none;
    color: inherit;
    text-decoration: none;
}

/* ---------------------------------------------
*   <img> tag
--------------------------------------------- */
img {
    max-width: 100%;
    vertical-align: bottom;
}

/* ==========================================================
*
*   layout
*
========================================================== */
/* ---------------------------------------------
*   contents
--------------------------------------------- */
.contents {
    overflow: hidden;
    width: 100%;
}

/* ---------------------------------------------
*   footer
--------------------------------------------- */
.footer {
    background-color: #0F1015;
    color: #fff;
}

/*  footer-pagetop
--------------------------------------------- */
@media screen and (min-width: 751px) {
    .footer-pagetop__link {
        -webkit-transition: opacity 300ms;
        transition: opacity 300ms;
    }
    .footer-pagetop__link:hover {
        opacity: 0.8;
    }
}

/*  footer-container
--------------------------------------------- */
.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    margin-right: auto;
    margin-left: auto;
    padding-top: 7.5rem;
    padding-right: 10rem;
    padding-bottom: 7.5rem;
    padding-left: 4rem;
    max-width: 1440px;

    -webkit-box-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 751px) {
    .footer-container {
        display: block;
        padding-top: 12.8vw;
        padding-right: 0;
        padding-bottom: 21.33333vw;
        padding-left: 6.4vw;
    }
}

/*  footer-nav
--------------------------------------------- */
@media screen and (max-width: 750px) {
    .footer-nav {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

.footer-nav:first-child {
    margin-right: 1.875rem;
}

@media screen and (max-width: 750px) {
    .footer-nav:first-child {
        margin-right: 0;
    }
}

.footer-nav:nth-child(2) {
    width: 10.625rem;
}

@media screen and (max-width: 750px) {
    .footer-nav:nth-child(2) {
        width: auto;
    }
}

.footer-nav__list {
    margin-top: 0.75rem;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    letter-spacing: -0.8px;
    font-size: 0.75rem;
    line-height: 2.0;
}

.footer-nav__list-item {
    margin-bottom: 1rem;
}

@media screen and (max-width: 750px) {
    .footer-nav__list-item {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.footer-nav__link {
    white-space: nowrap;
}

@media screen and (min-width: 751px) {
    .footer-nav__link {
        -webkit-transition: opacity 300ms;
        transition: opacity 300ms;
    }
    .footer-nav__link:hover {
        opacity: 0.8;
    }
}

/*  footer-logo
--------------------------------------------- */
.footer-logo {
    margin-bottom: 4rem;
    width: 9.6875rem;
    height: 3.5rem;
}

@media screen and (max-width: 750px) {
    .footer-logo {
        margin-bottom: 12.8vw;
    }
}

.footer-logo__link {
    display: block;
    overflow: hidden;
    padding-top: 3.5rem;
    height: 0;
    background: url(/files/user/img/membership/icon_black_kuroco.png) 0 0 no-repeat;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

@media screen and (min-width: 751px) {
    .footer-logo__link {
        -webkit-transition: opacity 300ms;
        transition: opacity 300ms;
    }
    .footer-logo__link:hover {
        opacity: 0.8;
    }
}

/*  footer-details
--------------------------------------------- */
.footer-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    width: 33.75rem;
    height: 10rem;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 2.0;

    -webkit-box-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 751px) {
    .footer-details {
        display: block;
        width: auto;
        height: auto;
    }
}

/*  footer-detail
--------------------------------------------- */
.footer-detail {
    white-space: nowrap;
    letter-spacing: -0.5px;
}

/*  footer-copyright
--------------------------------------------- */
.footer-copyright__txt {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    letter-spacing: -0.5px;
    font-size: 0.75rem;
}

@media screen and (max-width: 750px) {
    .footer-copyright__txt {
        margin: 0;
        letter-spacing: -0.13333vw;
        font-size: 3.2vw;
    }
}

.footer-copyright__txt--gray {
    color: #CCCCCC;
}

@media screen and (max-width: 750px) {
    .footer-copyright__txt--gray {
        margin-top: 6.66667vw;
        font-size: 3.2vw;
    }
}

/*  footer-map
--------------------------------------------- */
.footer-map {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 2.0;
}

@media screen and (max-width: 751px) {
    .footer-map {
        margin-bottom: 6.4vw;
    }
}

/*  footer-copyright__txt
--------------------------------------------- */
/* ---------------------------------------------
*   header
--------------------------------------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    color: #fff;
    -webkit-transition: background-color .3s, color .3s;
    transition: background-color .3s, color .3s;
}

@media screen and (max-width: 750px) {
    .header {
        height: 104px;
    }
}

.header.is-current {
    background-color: #fff;
    color: #0F1015;
}

.js-sp-menu-opened .header {
    color: #fff;
}

/*  header-container
--------------------------------------------- */
.header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -ms-flex-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 1.25rem 3.75rem 1.875rem 2.8125rem;
    max-width: 1440px;

    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

@media screen and (max-width: 750px) {
    .header-container {
        padding: 0 20px 0 16px;
        height: 100%;
    }
}

/*  header-logo
--------------------------------------------- */
.header-logo {
    position: relative;
    z-index: 1;
    width: 155px;
    height: 56px;
}

.header-logo__link {
    display: block;
}

@media screen and (min-width: 751px) {
    .header-logo__link {
        -webkit-transition: opacity 300ms;
        transition: opacity 300ms;
    }
    .header-logo__link:hover {
        opacity: 0.8;
    }
}

.header-logo__normal {
    display: block;
}

.js-sp-menu-opened .header-logo__normal {
    display: block !important;
}

.header.is-current .header-logo__normal {
    display: none;
}

.header-logo__current {
    display: none;
}

.js-sp-menu-opened .header-logo__current {
    display: none !important;
}

.header.is-current .header-logo__current {
    display: block;
}

/*  header-nav
--------------------------------------------- */
.header-nav {
    font-size: 14px;
}

@media screen and (max-width: 950px) and (min-width: 751px) {
    .header-nav {
        font-size: 12px;
    }
}

@media screen and (min-width: 751px) {
    .header-nav {
        display: block !important;
    }
}

@media screen and (max-width: 750px) {
    .header-nav {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        padding-top: 104px;
        width: 100%;
        height: 100%;
        background-color: #0F1015;
    }
}

.header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;

    -webkit-box-align: center;
    align-items: center;
}

@media screen and (max-width: 750px) {
    .header-nav__list {
        display: block;
        overflow-y: auto;
        padding: 56px 32px;
        height: 100%;
        background-color: #0F1015;
    }
}

.header-nav__list-item {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    font-weight: bold;
}

@media screen and (max-width: 950px) and (min-width: 751px) {
    .header-nav__list-item {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 750px) {
    .header-nav__list-item {
        margin-right: 0;
        margin-left: 0;
        font-size: 24px;
    }
    .header-nav__list-item:nth-child(n+2) {
        margin-top: 24px;
    }
}

.header-nav__list-item:last-child {
    margin-right: 0;
}

.header.is-current .header-nav__list-item:last-child {
    color: #682AE9;
}

@media screen and (max-width: 750px) {
    .header-nav__list-item:last-child {
        color: #682AE9;
    }
}

.header-nav__link {
    padding: 5px 0;
}

@media screen and (min-width: 751px) {
    .header-nav__link {
        -webkit-transition: opacity 300ms;
        transition: opacity 300ms;
    }
    .header-nav__link:hover {
        opacity: 0.8;
    }
}

/*  header-sp-trigger
--------------------------------------------- */
.header-sp-trigger {
    position: relative;
    display: none;
    width: 32px;
    height: 32px;
}

@media screen and (max-width: 750px) {
    .header-sp-trigger {
        display: block;
    }
}

.header-sp-trigger:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    border-top: 2px solid #fff;
    border-radius: 1px;
    content: "";
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.header.is-current .header-sp-trigger:before {
    border-color: #0F1015;
}

.js-sp-menu-opened .header-sp-trigger:before {
    border-color: #fff !important;
}

.header-sp-trigger__txt {
    display: block;
    overflow: hidden;
    padding-top: 100%;
    height: 0;
    background-repeat: no-repeat;
}

.header-sp-trigger__txt:before, .header-sp-trigger__txt:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    border-top: 2px solid #fff;
    border-radius: 1px;
    content: "";
    -webkit-transition: all .3s;
    transition: all .3s;
    pointer-events: none;
}

.header.is-current .header-sp-trigger__txt:before, .header.is-current .header-sp-trigger__txt:after {
    border-color: #0F1015;
}

.js-sp-menu-opened .header-sp-trigger__txt:before, .js-sp-menu-opened .header-sp-trigger__txt:after {
    border-color: #fff !important;
}

.header-sp-trigger__txt:before {
    -webkit-transform: translate(-50%, -8px);
    transform: translate(-50%, -8px);
}

.header-sp-trigger__txt:after {
    -webkit-transform: translate(-50%, 6px);
    transform: translate(-50%, 6px);
}

.js-sp-menu-opened .header-sp-trigger:before {
    content: none;
}

.js-sp-menu-opened .header-sp-trigger__txt:before {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.js-sp-menu-opened .header-sp-trigger__txt:after {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

/* ---------------------------------------------
*   wrapper
--------------------------------------------- */
/* ==========================================================
*
*   component
*
========================================================== */
/* ---------------------------------------------
*   c-block-conversion
--------------------------------------------- */
.c-block-conversion {
    background: #0F1015 50% 50% no-repeat;
    background-size: cover;
    color: #fff;
}

.c-block-conversion--photo {
    background-image: url(/files/user/img/membership/bg_img_conversion.jpg);
}

@media screen and (max-width: 750px) {
    .c-block-conversion--photo {
        background-image: url(/files/user/img/membership/bg_img_conversion.png);
    }
}

.c-block-conversion__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    margin-right: auto;
    margin-left: auto;
    padding-top: 4.375rem;
    padding-right: 10rem;
    padding-bottom: 4.375rem;
    padding-left: 6rem;
    max-width: 1440px;

    -webkit-box-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 750px) {
    .c-block-conversion__container {
        display: block;
        padding-top: 12.8vw;
        padding-right: 6.4vw;
        padding-bottom: 17.06667vw;
        padding-left: 6.4vw;
    }
}

.c-block-conversion__head {
    padding-top: 1.5625rem;
    width: 35.5rem;
}

@media screen and (max-width: 750px) {
    .c-block-conversion__head {
        padding-top: 0;
        width: 100%;
    }
}

.c-block-conversion__ttl {
    height: 4.1875rem;
    font-weight: bold;
    font-size: 3rem;
}

@media screen and (max-width: 750px) {
    .c-block-conversion__ttl {
        height: 17.86667vw;
        line-height: 1.4;
    }
}

.c-block-conversion__txt {
    padding-top: 0.625rem;
    border-top: 2px solid #fff;
    white-space: nowrap;
    font-size: 1rem;
    line-height: 2.0;
}

@media screen and (max-width: 750px) {
    .c-block-conversion__txt {
        padding-top: 4vw;
        white-space: normal;
    }
}

@media screen and (max-width: 950px) and (min-width: 751px) {
    .c-block-conversion__txt {
        border-top: 0.125rem solid #fff;
    }
}

/*  c-block-pattern
--------------------------------------------- */
.c-block-pattern {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    padding-top: 4rem;
    padding-bottom: 7rem;
    padding-left: 3.25rem;
    background-color: #1A2E4B;

    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

@media screen and (max-width: 750px) {
    .c-block-pattern {
        display: block;
        padding-top: 6.4vw;
        padding-right: 6.4vw;
        padding-bottom: 12.8vw;
        padding-left: 6.4vw;
    }
}

.c-block-pattern--reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 2rem;
    padding-bottom: 6.8125rem;
    padding-left: 5.25rem;
    background-color: #1E76FB;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

@media screen and (max-width: 750px) {
    .c-block-pattern--reverse {
        display: block;
        margin-top: 6.4vw;
        padding-right: 6.4vw;
        padding-bottom: 12.8vw;
        padding-left: 6.4vw;
    }
}

.c-block-pattern__contents {
    position: relative;
    z-index: 1;
    padding-left: 3.75rem;
    width: 100%;
    color: #fff;
    font-size: 1rem;
}

@media screen and (max-width: 750px) {
    .c-block-pattern__contents {
        padding-left: 0rem;
    }
}

.c-block-pattern__figure {
    position: relative;
    z-index: 2;
}

.c-block-pattern__figure--first {
    position: absolute;
    right: 0;
    margin-top: 1rem;
    margin-right: -5.375rem;
    width: 57.875rem;
}

@media screen and (max-width: 750px) {
    .c-block-pattern__figure--first {
        position: static;
        right: 0;
        margin-top: 6.4vw;
        margin-right: -9.6vw;
        margin-bottom: 10.66667vw;
        margin-left: -9.6vw;
        width: auto;
    }
    .c-block-pattern__figure--first img {
        width: 100%;
    }
}

.c-block-pattern__figure--second {
    width: 33.8125rem;

    -ms-flex-negative: 0;
    flex-shrink: 0;
}

@media screen and (max-width: 750px) {
    .c-block-pattern__figure--second {
        margin-bottom: 6.4vw;
        width: 100%;
    }
}

.c-block-pattern__figure-img {
    width: 100%;
}

.c-block-pattern__label {
    margin-bottom: 0.5rem;
    line-height: 2.0;
}

.c-block-pattern__ttl {
    font-weight: bold;
    font-size: 2rem;
}

@media screen and (max-width: 750px) {
    .c-block-pattern__ttl {
        margin-bottom: 0.75rem;
    }
}

.c-block-pattern__txt {
    line-height: 2.0;
}

.c-block-pattern__txt--fw {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.c-block-pattern__cassette-head {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    line-height: 2.0;
}

.c-block-pattern__list-item {
    position: relative;
    padding-left: 1.5625rem;
    line-height: 2.0;
}

@media screen and (max-width: 750px) {
    .c-block-pattern__list-item {
        padding-left: 6.66667vw;
    }
}

.c-block-pattern__list-item:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0.5rem;
    height: 0.125rem;
    background-color: #fff;
    content: '';
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.c-block-pattern__btn-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    width: 22rem;
    height: 3rem;
    border-radius: 4px;
    background: #FFFFFF;
    color: #0F1015;
    text-align: center;
    line-height: 1.0;
    -webkit-transition: background-color .3s, color .3s;
    transition: background-color .3s, color .3s;

    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.ipad .c-block-pattern__btn-area {
    padding-top: 0.1875rem;
}

@media screen and (min-width: 751px) {
    .c-block-pattern__btn-area:hover {
        background-color: #0F1015;
        color: #fff;
    }
}

@media screen and (max-width: 750px) {
    .c-block-pattern__btn-area {
        width: 100%;
    }
}

/* ---------------------------------------------
*   c-box-feature
--------------------------------------------- */
.c-box-feature {
    padding: 3.75rem 1.5rem 1.5rem;
    width: 22rem;
    height: 22rem;
    border-radius: 8px;
    background: #27282C;
}

@media screen and (max-width: 750px) {
    .c-box-feature {
        padding-top: 13.33333vw;
        width: 100%;
    }
    .c-box-feature:nth-child(n+2) {
        margin-top: 6.4vw;
    }
}

@media screen and (max-width: 950px) and (min-width: 751px) {
    .c-box-feature {
        padding: 2.5rem;
    }
}

.c-box-feature__img {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

@media screen and (max-width: 750px) {
    .c-box-feature__img--sp1 {
        width: 12.8vw;
    }
}

@media screen and (max-width: 750px) {
    .c-box-feature__img--sp2 {
        width: 19.2vw;
    }
}

.c-box-feature__img--1 {
    margin-top: 0.9375rem;
    margin-bottom: 1.9375rem;
    width: 3rem;
}

@media screen and (max-width: 750px) {
    .c-box-feature__img--1 {
        margin-bottom: 6.66667vw;
        width: 12.8vw;
    }
}

.c-box-feature__img--2 {
    width: 4.5rem;
}

@media screen and (max-width: 750px) {
    .c-box-feature__img--2 {
        width: 19.2vw;
    }
}

.c-box-feature__img--3 {
    width: 4.5rem;
}

@media screen and (max-width: 750px) {
    .c-box-feature__img--3 {
        width: 19.2vw;
    }
}

.c-box-feature__ttl {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.7;
}

@media screen and (max-width: 750px) {
    .c-box-feature__ttl {
        margin-top: 4.26667vw;
    }
}

.c-box-feature__txt {
    margin: 0.9375rem 0;
    font-size: 1rem;
    line-height: 2.0;
}

.c-box-feature__link {
    color: #986EF0;
}

@media screen and (min-width: 751px) {
    .c-box-feature__link:hover {
        -webkit-transition: opacity 300ms;
        transition: opacity 300ms;
    }
    .c-box-feature__link:hover:hover {
        opacity: 0.8;
    }
}

/* ---------------------------------------------
*   c-btn-theme
--------------------------------------------- */
.c-btn-theme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    width: 100%;
    height: 100%;
    border: 0.125rem solid #682AE9;
    border-radius: 0.25rem;
    background-color: #682AE9;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.0;
    -webkit-transition: background-color .3s, color .3s;
    transition: background-color .3s, color .3s;

    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

@media screen and (min-width: 751px) {
    .c-btn-theme:hover {
        background-color: #fff;
        color: #682AE9;
    }
}

.ie .c-btn-theme .edge .c-btn-theme .chrome .c-btn-theme .firefox {
    padding-top: 0.4375rem;
}

.c-btn-theme:after {
    display: block;
    margin-left: 0.3125rem;
    width: 1.5rem;
    height: 1.5rem;
    background: url(/files/user/img/membership/icon_arrow_right.svg) 50% 50% no-repeat;
    background-size: 1.5rem 1.5rem;
    content: "";
    -webkit-transition: all .3s;
    transition: all .3s;
}

@media screen and (min-width: 751px) {
    .c-btn-theme:hover:after {
        background-image: url(/files/user/img/membership/icon_arrow_right_hover.svg);
    }
}

.c-btn-theme--border {
    border-color: #fff;
    background-color: transparent;
}

@media screen and (min-width: 751px) {
    .c-btn-theme--border:hover {
        color: #0F1015;
    }
}

.c-btn-theme--border:after {
    content: none;
}

/* ---------------------------------------------
/* c-btn-small
--------------------------------------------- */
/* ---------------------------------------------
*   c-chapter
--------------------------------------------- */
/*  c-chapter-about
--------------------------------------------- */
/*  c-chapter-price
--------------------------------------------- */
.c-chapter-price__body {
    padding-right: 10rem;
    padding-left: 10rem;
}

@media screen and (max-width: 750px) {
    .c-chapter-price__body {
        margin-right: -2.13333vw;
        margin-left: -2.13333vw;
        padding-right: 0;
        padding-left: 0;
    }
}

.c-chapter-price__figure-img {
    width: 100%;
}

/* ---------------------------------------------
*   c-kv
--------------------------------------------- */
.c-kv {
    background: url(/files/user/img/membership/kv_pc.jpg) 50% 50% no-repeat;
    background-size: cover;
}

@media screen and (max-width: 750px) {
    .c-kv {
        background: url(/files/user/img/membership/kv_sp.jpg) 50% 50% no-repeat;
        background-size: cover;
    }
}

.c-kv__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    margin-right: auto;
    margin-left: auto;
    padding: 6.625rem 3.75rem 0.625rem;
    max-width: 1440px;
    height: 47rem;

    -webkit-box-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 750px) {
    .c-kv__container {
        display: block;
        padding: 104px 6.4vw 0.5rem;
        height: auto;
    }
}

.c-kv__head {
    margin-left: 2.125rem;
    padding-top: 5.875rem;
    width: 39.8125rem;
    color: #fff;
}

@media screen and (max-width: 750px) {
    .c-kv__head {
        margin-left: 0;
        padding-top: 3.2vw;
        width: 100%;
    }
}

.c-kv__body {
    width: 39.5625rem;
}

@media screen and (max-width: 750px) {
    .c-kv__body {
        margin: 0 auto;
        padding-top: 3rem;
        width: 84.53333vw;
    }
    .c-kv__body img {
        width: 100%;
    }
}

.c-kv__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    width: 15.75rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: #fff;
    color: #0F1015;
    font-size: 1rem;

    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

@media screen and (max-width: 750px) {
    .c-kv__label {
        border-radius: 6.4vw;
    }
}

.c-kv__ttl {
    position: relative;
    margin-top: 1.5rem;
    letter-spacing: -0.02em;
    font-weight: bold;
    font-size: 3rem;
}

.c-kv__ttl:before {
    position: absolute;
    top: 1.45em;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    content: "";
}

@media screen and (max-width: 950px) and (min-width: 751px) {
    .c-kv__ttl:before {
        height: 0.125rem;
    }
}

@media screen and (max-width: 750px) {
    .c-kv__ttl {
        white-space: nowrap;
        font-size: 2.875rem;
    }
    .c-kv__ttl:after {
        position: absolute;
        bottom: 1.5em;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        content: "";
    }
}

/* ---------------------------------------------
*   c-list-conversion
--------------------------------------------- */
@media screen and (max-width: 750px) {
    .c-list-conversion {
        margin-top: 12.8vw;
    }
}

.c-list-conversion__item {
    width: 22rem;
    height: 5rem;
}

@media screen and (max-width: 750px) {
    .c-list-conversion__item {
        width: 100%;
    }
}

.c-list-conversion__item:nth-of-type(n+2) {
    margin-top: 1.5rem;
}

.c-list-conversion--kv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    -ms-flex-align: start;
    margin-top: 2rem;

    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
}

@media screen and (max-width: 750px) {
    .c-list-conversion--kv {
        display: block;
        margin-top: 4.26667vw;
        padding-top: 0;
    }
}

.c-list-conversion--kv .c-list-conversion__item {
    width: 16rem;
    height: 5rem;
}

@media screen and (max-width: 750px) {
    .c-list-conversion--kv .c-list-conversion__item {
        width: 100%;
    }
}

.c-list-conversion--kv .c-list-conversion__item:nth-of-type(n+2) {
    margin-top: 0;
}

@media screen and (max-width: 750px) {
    .c-list-conversion--kv .c-list-conversion__item:nth-of-type(n+2) {
        margin-top: 6.4vw;
    }
}

.c-list-conversion--kv .c-list-conversion__item--contact {
    margin-left: 1.5rem;
    height: 3.5rem;
}

@media screen and (max-width: 750px) {
    .c-list-conversion--kv .c-list-conversion__item--contact {
        margin-left: 0;
        height: 21.33333vw;
    }
}

/* ---------------------------------------------
*   c-section
--------------------------------------------- */
.c-section--feature {
    padding-top: 5rem;
    padding-bottom: 3.75rem;
    background-color: #0F1015;
    color: #fff;
}

@media screen and (max-width: 750px) {
    .c-section--feature {
        padding-top: 25.6vw;
        padding-bottom: 17.06667vw;
    }
}

.c-section--pattern {
    padding-top: 7rem;
    padding-bottom: 3rem;
}

@media screen and (max-width: 750px) {
    .c-section--pattern {
        padding-top: 25.6vw;
        padding-bottom: 6.4vw;
    }
}

.c-section--about {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: #F0F0F0;
    color: #0F1015;
}

@media screen and (max-width: 750px) {
    .c-section--about {
        padding-top: 6rem;
        padding-bottom: 12.8vw;
    }
}

.c-section--price {
    padding-top: 5rem;
    padding-right: 10rem;
    padding-bottom: 6.1875rem;
    padding-left: 10rem;
    background-color: #0F1015;
}

@media screen and (max-width: 750px) {
    .c-section--price {
        padding-top: 20vw;
        padding-right: 6.4vw;
        padding-bottom: 21.33333vw;
        padding-left: 6.4vw;
    }
}

.c-section__icon-ttl {
    margin-right: auto;
    margin-left: auto;
    width: 9.6875rem;
}

.c-section__icon-ttl img {
    width: 100%;
}

.c-section__container {
    margin: 0 auto;
    max-width: 1440px;
}

.c-section__container:before {
    position: absolute;
    z-index: 1;
    width: 30rem;
    height: 30rem;
    background-image: url(/files/user/img/membership/icon_union.svg);
    background-position: 50% 50%;
    background-size: 30rem 30rem;
    background-repeat: no-repeat;
}

.c-section__container--feature {
    position: relative;
    z-index: 1;
    padding-right: 3rem;
    padding-left: 3rem;
}

@media screen and (max-width: 750px) {
    .c-section__container--feature {
        padding-right: 6.4vw;
        padding-left: 6.4vw;
    }
}

.c-section__container--feature:before {
    top: 1rem;
    left: 0;
    z-index: -1;
    content: "";
}

@media screen and (max-width: 750px) {
    .c-section__container--feature:before {
        top: 0;
    }
}

.c-section__container--pattern {
    position: relative;
    padding-right: 3rem;
    padding-left: 3rem;
}

@media screen and (max-width: 750px) {
    .c-section__container--pattern {
        padding-right: 6.4vw;
        padding-left: 6.4vw;
    }
}

.c-section__container--pattern:before {
    top: 30.625rem;
    right: 21.9375rem;
    width: 34.0625rem;
    height: 34.0625rem;
    background-size: 34.0625rem 34.0625rem;
    content: "";
}

@media screen and (max-width: 750px) {
    .c-section__container--pattern:before {
        top: 222.93333vw;
        right: 50%;
        width: 128vw;
        height: 128vw;
        background-size: 128vw 128vw;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
}

.c-section__container--about {
    position: relative;
    z-index: 1;
    padding-right: 3rem;
    padding-left: 3rem;
    background-position: 100% 5%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 750px) {
    .c-section__container--about {
        padding-right: 6.4vw;
        padding-left: 6.4vw;
    }
}

.c-section__container--about:before {
    top: 1rem;
    right: 0;
    z-index: -1;
    background-image: url(/files/user/img/membership/icon_union_gray.svg);
    content: "";
}

@media screen and (max-width: 750px) {
    .c-section__container--about:before {
        top: 0;
    }
}

@media screen and (max-width: 750px) {
    .c-section__head {
        margin-bottom: 0.5rem;
    }
}

.c-section__head:before {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-position: 50% 50%;
    background-size: 3rem 3rem;
    background-repeat: no-repeat;
}

.c-section__head--feature {
    position: relative;
    padding-right: 6.875rem;
    padding-left: 6.875rem;
}

@media screen and (max-width: 750px) {
    .c-section__head--feature {
        margin-bottom: 0.5rem;
        padding-right: 0;
        padding-left: 0;
    }
    .c-section__head--feature .c-ttl-1 {
        padding-left: 19.2vw;
    }
}

.c-section__head--feature:before {
    top: 0;
    left: 1.125rem;
    background-image: url(/files/user/img/membership/icon_frame1.svg);
    content: "";
}

@media screen and (max-width: 750px) {
    .c-section__head--feature:before {
        left: 0;
    }
}

.c-section__head--pattern {
    position: relative;
    padding-right: 6.875rem;
    padding-left: 6.875rem;
}

@media screen and (max-width: 750px) {
    .c-section__head--pattern {
        padding-right: 0;
        padding-left: 0;
    }
    .c-section__head--pattern .c-ttl-1 {
        padding-left: 19.2vw;
        font-size: 1.6875rem;
        line-height: 1.8;
    }
}

.c-section__head--pattern:before {
    top: 0;
    left: 1.125rem;
    background-image: url(/files/user/img/membership/icon_frame2.svg);
    content: "";
}

@media screen and (max-width: 750px) {
    .c-section__head--pattern:before {
        left: 0;
    }
}

.c-section__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.c-section__body--feature {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    padding-right: 6.875rem;
    padding-left: 6.875rem;

    -webkit-box-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 750px) {
    .c-section__body {
        display: block;
        padding-right: 0rem;
        padding-left: 0rem;
    }
}

.c-section__body--pattern {
    display: block;
}

.c-section__body--about {
    display: block;
    margin-top: 1.125rem;
}

.c-section__features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2.08333vw;
}

.c-section__icon-ttl {
    text-align: center;
}

/* ---------------------------------------------
*   c-ttl
--------------------------------------------- */
/*  c-ttl-1
--------------------------------------------- */
.c-ttl-1 {
    font-weight: bold;
    font-size: 2rem;
}

@media screen and (max-width: 750px) {
    .c-ttl-1 {
        white-space: pre;
    }
}

/*  c-ttl-2
--------------------------------------------- */
.c-ttl-2 {
    margin-top: 1rem;
    text-align: center;
    letter-spacing: -0.02em;
    font-weight: bold;
    font-size: 3rem;
}

@media screen and (max-width: 750px) {
    .c-ttl-2 {
        font-size: 2rem;
    }
}

.c-ttl-2--price {
    color: #fff;
}

@media screen and (max-width: 750px) {
    .c-ttl-2--price {
        font-size: 3rem;
    }
}

/*  c-ttl-3
--------------------------------------------- */
.c-ttl-3 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

@media screen and (max-width: 750px) {
    .c-ttl-3 {
        white-space: nowrap;
    }
}

.c-ttl-3 span {
    display: inline-block;
    padding-bottom: 1rem;
    border-bottom: 0.5rem solid #682AE9;
}

/*  c-ttl-4
--------------------------------------------- */
.c-ttl-4 {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

@media screen and (max-width: 750px) {
    .c-ttl-4 {
        text-align: left;
    }
}

.c-ttl-4--price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    margin-top: 1.5rem;
    margin-bottom: 3.0625rem;
    color: #fff;
    text-align: left;

    -webkit-box-pack: center;
    justify-content: center;
}

@media screen and (max-width: 750px) {
    .c-ttl-4--price {
        line-height: 1.66;
    }
}

/* ---------------------------------------------
*   c-txt
--------------------------------------------- */
.c-txt {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 2.5rem;
}

@media screen and (max-width: 750px) {
    .c-txt {
        font-size: 0.9375rem;
    }
}

.c-txt__strong {
    text-decoration: underline;
    font-weight: bold;
}

.c-txt__italic {
    font-style: italic;
}

/*  .c-txt-lead
--------------------------------------------- */
.c-txt-lead {
    margin-top: 0.5rem;
    padding-bottom: 2.5rem;
    width: 46rem;
    font-size: 1rem;
    line-height: 2.0;
}

@media screen and (max-width: 750px) {
    .c-txt-lead {
        padding-bottom: 0.75rem;
        width: 100%;
    }
}

/*  c-txt-normal
--------------------------------------------- */
.c-txt-normal {
    margin: 0 auto;
    padding-top: 1.875rem;
    width: 46rem;
    font-size: 1rem;
    line-height: 2.0;
}

@media screen and (max-width: 750px) {
    .c-txt-normal {
        width: 100%;
    }
}

.c-txt-normal--no-pdt-sp {
    padding-top: 0;
}

.c-txt-normal--top {
    margin-top: 0.625rem;
}

.c-txt-normal__link {
    color: #682AE9;
}

@media screen and (min-width: 751px) {
    .c-txt-normal__link:hover {
        -webkit-transition: opacity 300ms;
        transition: opacity 300ms;
    }
    .c-txt-normal__link:hover:hover {
        opacity: 0.8;
    }
}

/* ==========================================================
*
*   javascript style hooks
*
========================================================== */
/* ==========================================================
*
*   utility
*
========================================================== */
/* ---------------------------------------------
*   background-color
--------------------------------------------- */
.bg-white {
    background-color: #fff !important;
}

/* ---------------------------------------------
*   font-wight
--------------------------------------------- */
.fw-normal {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

/* ---------------------------------------------
*   text-align
--------------------------------------------- */
.txt-al-center {
    text-align: center !important;
}

.txt-al-right {
    text-align: right !important;
}

.txt-al-left {
    text-align: left !important;
}

@media print and (min-width: 751px), screen and (min-width: 751px) {
    .pc-hide {
        display: none !important;
    }
}

@media print and (max-width: 750px), screen and (max-width: 750px) {
    .sp-hide {
        display: none !important;
    }
}

/* ---------------------------------------------
*   margin-top
--------------------------------------------- */
.mgt-pc--0 {
    margin-top: 0 !important;
}

.mgt-pc--5 {
    margin-top: 5px !important;
}

.mgt-pc--10 {
    margin-top: 10px !important;
}

.mgt-pc--15 {
    margin-top: 15px !important;
}

.mgt-pc--20 {
    margin-top: 20px !important;
}

.mgt-pc--25 {
    margin-top: 25px !important;
}

.mgt-pc--30 {
    margin-top: 30px !important;
}

.mgt-pc--35 {
    margin-top: 35px !important;
}

.mgt-pc--40 {
    margin-top: 40px !important;
}

.mgt-pc--45 {
    margin-top: 45px !important;
}

.mgt-pc--50 {
    margin-top: 50px !important;
}

.mgt-pc--55 {
    margin-top: 55px !important;
}

.mgt-pc--60 {
    margin-top: 60px !important;
}

.mgt-pc--65 {
    margin-top: 65px !important;
}

.mgt-pc--70 {
    margin-top: 70px !important;
}

.mgt-pc--75 {
    margin-top: 75px !important;
}

.mgt-pc--80 {
    margin-top: 80px !important;
}

.mgt-pc--85 {
    margin-top: 85px !important;
}

.mgt-pc--90 {
    margin-top: 90px !important;
}

.mgt-pc--95 {
    margin-top: 95px !important;
}

.mgt-pc--100 {
    margin-top: 100px !important;
}

.mgt-pc--105 {
    margin-top: 105px !important;
}

.mgt-pc--110 {
    margin-top: 110px !important;
}

.mgt-pc--115 {
    margin-top: 115px !important;
}

.mgt-pc--120 {
    margin-top: 120px !important;
}

.mgt-pc--125 {
    margin-top: 125px !important;
}

.mgt-pc--130 {
    margin-top: 130px !important;
}

.mgt-pc--135 {
    margin-top: 135px !important;
}

.mgt-pc--140 {
    margin-top: 140px !important;
}

.mgt-pc--145 {
    margin-top: 145px !important;
}

.mgt-pc--150 {
    margin-top: 150px !important;
}

.mgt-pc--155 {
    margin-top: 155px !important;
}

.mgt-pc--160 {
    margin-top: 160px !important;
}

.mgt-pc--165 {
    margin-top: 165px !important;
}

.mgt-pc--170 {
    margin-top: 170px !important;
}

.mgt-pc--175 {
    margin-top: 175px !important;
}

.mgt-pc--180 {
    margin-top: 180px !important;
}

.mgt-pc--185 {
    margin-top: 185px !important;
}

.mgt-pc--190 {
    margin-top: 190px !important;
}

.mgt-pc--195 {
    margin-top: 195px !important;
}

.mgt-pc--200 {
    margin-top: 200px !important;
}

.mgt-pc--205 {
    margin-top: 205px !important;
}

.mgt-pc--210 {
    margin-top: 210px !important;
}

.mgt-pc--215 {
    margin-top: 215px !important;
}

.mgt-pc--220 {
    margin-top: 220px !important;
}

.mgt-pc--225 {
    margin-top: 225px !important;
}

.mgt-pc--230 {
    margin-top: 230px !important;
}

.mgt-pc--235 {
    margin-top: 235px !important;
}

.mgt-pc--240 {
    margin-top: 240px !important;
}

.mgt-pc--245 {
    margin-top: 245px !important;
}

.mgt-pc--250 {
    margin-top: 250px !important;
}

@media screen and (max-width: 750px) {
    .mgt-sp--0 {
        margin-top: 0 !important;
    }
    .mgt-sp--5 {
        margin-top: 0.66667vw !important;
    }
    .mgt-sp--10 {
        margin-top: 1.33333vw !important;
    }
    .mgt-sp--15 {
        margin-top: 2vw !important;
    }
    .mgt-sp--20 {
        margin-top: 2.66667vw !important;
    }
    .mgt-sp--25 {
        margin-top: 3.33333vw !important;
    }
    .mgt-sp--30 {
        margin-top: 4vw !important;
    }
    .mgt-sp--35 {
        margin-top: 4.66667vw !important;
    }
    .mgt-sp--40 {
        margin-top: 5.33333vw !important;
    }
    .mgt-sp--45 {
        margin-top: 6vw !important;
    }
    .mgt-sp--50 {
        margin-top: 6.66667vw !important;
    }
    .mgt-sp--55 {
        margin-top: 7.33333vw !important;
    }
    .mgt-sp--60 {
        margin-top: 8vw !important;
    }
    .mgt-sp--65 {
        margin-top: 8.66667vw !important;
    }
    .mgt-sp--70 {
        margin-top: 9.33333vw !important;
    }
    .mgt-sp--75 {
        margin-top: 10vw !important;
    }
    .mgt-sp--80 {
        margin-top: 10.66667vw !important;
    }
    .mgt-sp--85 {
        margin-top: 11.33333vw !important;
    }
    .mgt-sp--90 {
        margin-top: 12vw !important;
    }
    .mgt-sp--95 {
        margin-top: 12.66667vw !important;
    }
    .mgt-sp--100 {
        margin-top: 13.33333vw !important;
    }
    .mgt-sp--105 {
        margin-top: 14vw !important;
    }
    .mgt-sp--110 {
        margin-top: 14.66667vw !important;
    }
    .mgt-sp--115 {
        margin-top: 15.33333vw !important;
    }
    .mgt-sp--120 {
        margin-top: 16vw !important;
    }
    .mgt-sp--125 {
        margin-top: 16.66667vw !important;
    }
    .mgt-sp--130 {
        margin-top: 17.33333vw !important;
    }
    .mgt-sp--135 {
        margin-top: 18vw !important;
    }
    .mgt-sp--140 {
        margin-top: 18.66667vw !important;
    }
    .mgt-sp--145 {
        margin-top: 19.33333vw !important;
    }
    .mgt-sp--150 {
        margin-top: 20vw !important;
    }
    .mgt-sp--155 {
        margin-top: 20.66667vw !important;
    }
    .mgt-sp--160 {
        margin-top: 21.33333vw !important;
    }
    .mgt-sp--165 {
        margin-top: 22vw !important;
    }
    .mgt-sp--170 {
        margin-top: 22.66667vw !important;
    }
    .mgt-sp--175 {
        margin-top: 23.33333vw !important;
    }
    .mgt-sp--180 {
        margin-top: 24vw !important;
    }
    .mgt-sp--185 {
        margin-top: 24.66667vw !important;
    }
    .mgt-sp--190 {
        margin-top: 25.33333vw !important;
    }
    .mgt-sp--195 {
        margin-top: 26vw !important;
    }
    .mgt-sp--200 {
        margin-top: 26.66667vw !important;
    }
    .mgt-sp--205 {
        margin-top: 27.33333vw !important;
    }
    .mgt-sp--210 {
        margin-top: 28vw !important;
    }
    .mgt-sp--215 {
        margin-top: 28.66667vw !important;
    }
    .mgt-sp--220 {
        margin-top: 29.33333vw !important;
    }
    .mgt-sp--225 {
        margin-top: 30vw !important;
    }
    .mgt-sp--230 {
        margin-top: 30.66667vw !important;
    }
    .mgt-sp--235 {
        margin-top: 31.33333vw !important;
    }
    .mgt-sp--240 {
        margin-top: 32vw !important;
    }
    .mgt-sp--245 {
        margin-top: 32.66667vw !important;
    }
    .mgt-sp--250 {
        margin-top: 33.33333vw !important;
    }
}

/* ---------------------------------------------
*   margin-bottom
--------------------------------------------- */
.mgb-pc--0 {
    margin-bottom: 0 !important;
}

.mgb-pc--5 {
    margin-bottom: 5px !important;
}

.mgb-pc--10 {
    margin-bottom: 10px !important;
}

.mgb-pc--15 {
    margin-bottom: 15px !important;
}

.mgb-pc--20 {
    margin-bottom: 20px !important;
}

.mgb-pc--25 {
    margin-bottom: 25px !important;
}

.mgb-pc--30 {
    margin-bottom: 30px !important;
}

.mgb-pc--35 {
    margin-bottom: 35px !important;
}

.mgb-pc--40 {
    margin-bottom: 40px !important;
}

.mgb-pc--45 {
    margin-bottom: 45px !important;
}

.mgb-pc--50 {
    margin-bottom: 50px !important;
}

.mgb-pc--55 {
    margin-bottom: 55px !important;
}

.mgb-pc--60 {
    margin-bottom: 60px !important;
}

.mgb-pc--65 {
    margin-bottom: 65px !important;
}

.mgb-pc--70 {
    margin-bottom: 70px !important;
}

.mgb-pc--75 {
    margin-bottom: 75px !important;
}

.mgb-pc--80 {
    margin-bottom: 80px !important;
}

.mgb-pc--85 {
    margin-bottom: 85px !important;
}

.mgb-pc--90 {
    margin-bottom: 90px !important;
}

.mgb-pc--95 {
    margin-bottom: 95px !important;
}

.mgb-pc--100 {
    margin-bottom: 100px !important;
}

.mgb-pc--105 {
    margin-bottom: 105px !important;
}

.mgb-pc--110 {
    margin-bottom: 110px !important;
}

.mgb-pc--115 {
    margin-bottom: 115px !important;
}

.mgb-pc--120 {
    margin-bottom: 120px !important;
}

.mgb-pc--125 {
    margin-bottom: 125px !important;
}

.mgb-pc--130 {
    margin-bottom: 130px !important;
}

.mgb-pc--135 {
    margin-bottom: 135px !important;
}

.mgb-pc--140 {
    margin-bottom: 140px !important;
}

.mgb-pc--145 {
    margin-bottom: 145px !important;
}

.mgb-pc--150 {
    margin-bottom: 150px !important;
}

.mgb-pc--155 {
    margin-bottom: 155px !important;
}

.mgb-pc--160 {
    margin-bottom: 160px !important;
}

.mgb-pc--165 {
    margin-bottom: 165px !important;
}

.mgb-pc--170 {
    margin-bottom: 170px !important;
}

.mgb-pc--175 {
    margin-bottom: 175px !important;
}

.mgb-pc--180 {
    margin-bottom: 180px !important;
}

.mgb-pc--185 {
    margin-bottom: 185px !important;
}

.mgb-pc--190 {
    margin-bottom: 190px !important;
}

.mgb-pc--195 {
    margin-bottom: 195px !important;
}

.mgb-pc--200 {
    margin-bottom: 200px !important;
}

.mgb-pc--205 {
    margin-bottom: 205px !important;
}

.mgb-pc--210 {
    margin-bottom: 210px !important;
}

.mgb-pc--215 {
    margin-bottom: 215px !important;
}

.mgb-pc--220 {
    margin-bottom: 220px !important;
}

.mgb-pc--225 {
    margin-bottom: 225px !important;
}

.mgb-pc--230 {
    margin-bottom: 230px !important;
}

.mgb-pc--235 {
    margin-bottom: 235px !important;
}

.mgb-pc--240 {
    margin-bottom: 240px !important;
}

.mgb-pc--245 {
    margin-bottom: 245px !important;
}

.mgb-pc--250 {
    margin-bottom: 250px !important;
}

@media screen and (max-width: 750px) {
    .mgb-sp--0 {
        margin-bottom: 0 !important;
    }
    .mgb-sp--5 {
        margin-bottom: 0.66667vw !important;
    }
    .mgb-sp--10 {
        margin-bottom: 1.33333vw !important;
    }
    .mgb-sp--15 {
        margin-bottom: 2vw !important;
    }
    .mgb-sp--20 {
        margin-bottom: 2.66667vw !important;
    }
    .mgb-sp--25 {
        margin-bottom: 3.33333vw !important;
    }
    .mgb-sp--30 {
        margin-bottom: 4vw !important;
    }
    .mgb-sp--35 {
        margin-bottom: 4.66667vw !important;
    }
    .mgb-sp--40 {
        margin-bottom: 5.33333vw !important;
    }
    .mgb-sp--45 {
        margin-bottom: 6vw !important;
    }
    .mgb-sp--50 {
        margin-bottom: 6.66667vw !important;
    }
    .mgb-sp--55 {
        margin-bottom: 7.33333vw !important;
    }
    .mgb-sp--60 {
        margin-bottom: 8vw !important;
    }
    .mgb-sp--65 {
        margin-bottom: 8.66667vw !important;
    }
    .mgb-sp--70 {
        margin-bottom: 9.33333vw !important;
    }
    .mgb-sp--75 {
        margin-bottom: 10vw !important;
    }
    .mgb-sp--80 {
        margin-bottom: 10.66667vw !important;
    }
    .mgb-sp--85 {
        margin-bottom: 11.33333vw !important;
    }
    .mgb-sp--90 {
        margin-bottom: 12vw !important;
    }
    .mgb-sp--95 {
        margin-bottom: 12.66667vw !important;
    }
    .mgb-sp--100 {
        margin-bottom: 13.33333vw !important;
    }
    .mgb-sp--105 {
        margin-bottom: 14vw !important;
    }
    .mgb-sp--110 {
        margin-bottom: 14.66667vw !important;
    }
    .mgb-sp--115 {
        margin-bottom: 15.33333vw !important;
    }
    .mgb-sp--120 {
        margin-bottom: 16vw !important;
    }
    .mgb-sp--125 {
        margin-bottom: 16.66667vw !important;
    }
    .mgb-sp--130 {
        margin-bottom: 17.33333vw !important;
    }
    .mgb-sp--135 {
        margin-bottom: 18vw !important;
    }
    .mgb-sp--140 {
        margin-bottom: 18.66667vw !important;
    }
    .mgb-sp--145 {
        margin-bottom: 19.33333vw !important;
    }
    .mgb-sp--150 {
        margin-bottom: 20vw !important;
    }
    .mgb-sp--155 {
        margin-bottom: 20.66667vw !important;
    }
    .mgb-sp--160 {
        margin-bottom: 21.33333vw !important;
    }
    .mgb-sp--165 {
        margin-bottom: 22vw !important;
    }
    .mgb-sp--170 {
        margin-bottom: 22.66667vw !important;
    }
    .mgb-sp--175 {
        margin-bottom: 23.33333vw !important;
    }
    .mgb-sp--180 {
        margin-bottom: 24vw !important;
    }
    .mgb-sp--185 {
        margin-bottom: 24.66667vw !important;
    }
    .mgb-sp--190 {
        margin-bottom: 25.33333vw !important;
    }
    .mgb-sp--195 {
        margin-bottom: 26vw !important;
    }
    .mgb-sp--200 {
        margin-bottom: 26.66667vw !important;
    }
    .mgb-sp--205 {
        margin-bottom: 27.33333vw !important;
    }
    .mgb-sp--210 {
        margin-bottom: 28vw !important;
    }
    .mgb-sp--215 {
        margin-bottom: 28.66667vw !important;
    }
    .mgb-sp--220 {
        margin-bottom: 29.33333vw !important;
    }
    .mgb-sp--225 {
        margin-bottom: 30vw !important;
    }
    .mgb-sp--230 {
        margin-bottom: 30.66667vw !important;
    }
    .mgb-sp--235 {
        margin-bottom: 31.33333vw !important;
    }
    .mgb-sp--240 {
        margin-bottom: 32vw !important;
    }
    .mgb-sp--245 {
        margin-bottom: 32.66667vw !important;
    }
    .mgb-sp--250 {
        margin-bottom: 33.33333vw !important;
    }
}
